.App {
 padding: 20px;
}

/* body::-webkit-scrollbar {
 width: 5px;
 background-color: #ffff;
 border: #E8CE6A 2px solid;
 cursor: pointer;
 scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
 background-color: #E8CE6A;
 border-radius: 100px;
 height: 10px;
} */


body::-webkit-scrollbar {
 display: none;
}

body::-webkit-scrollbar-thumb {
 background-color: transparent;
}
